{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPTData - Chat PDF</title>
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static '/css/chatpdf.css' %}">

</head> 
<body>
    <main>
        <header>
            <div class="container">
                <nav>
                    <div class="forLogo">
                        <span class="logo-text">GPT<span class="highlight">Data</span></span>
                    </div>
                    <div class="left">
                        <h2>GPTData</h2>
                        <h6>Administration</h6>
                    </div>
                </nav>
            </div>
        </header>
        <div class="content">
            <div class="container">
                <div class="allsections">
                    <div class="upload">
                        <form id="pdfUploadForm" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="id_pdf_file" class="custom-file-upload">
                                Choose PDF File
                            </label>
                            <input type="file" name="pdf_file" id="id_pdf_file" accept=".pdf">
                    
                            <button type="submit">Upload PDF</button>
                        </form>
                        <div id="message"></div> 
                        <div id="response"></div>
                    </div>
                    <div class="chat">
                        <div id="chatMessages"></div>
                        <div id="chatForm">
                            <form id="messageForm" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="pdf_id" value="{{ pdf_id }}">
                                <input type="text" name="message" id="messageInput" placeholder="Type your message...">
                                <input type="submit" value="Submit" class="sendMessage" name="message">
                            </form>
                        </div>                    
                    </div>
                    <div>
                        {{res}}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        chatMessagesDiv = document.getElementById('chatMessages');
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('pdfUploadForm').addEventListener('submit', function (e) {
                e.preventDefault();
                var f = new FormData(this);
                f.append('uploadpdf', this.name);
                fetch('{% url "chatPdf" %}', {
                    method: 'POST',
                    body: f,
                })
                .then(response => response.json())
                .then(data => {
                    appendMessage2('GPTData', data.message)
                })
                .catch(error => {
                    console.error('Error:', error);
                    document.getElementById('message').textContent = 'Error uploading file.';
                });
            });
        });

        document.getElementById("messageForm").addEventListener("submit", function(event) {
            message = document.getElementById('messageInput')
            if(message.value.length > 0){
                event.preventDefault(); 
                var formData = new FormData(event.target);
                appendMessage("You",message.value )
                fetch("{% url 'chatPdf' %}", {
                    method: "POST",
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    appendMessage2('GPTData', data.res)
                })
                .catch(error => {
                    console.error('Error:', error);
                });

                message.value = ''
            }
            else{
                event.preventDefault(); 
                appendMessage2('GPTData', 'Please enter a valid question')
            }
        });
        function appendMessage(sender, message) {
            var messageDiv = document.createElement('div');
            messageDiv.innerHTML = '<span>' + sender + ':</span> ' + message;
            chatMessagesDiv.appendChild(messageDiv);
        }

        function appendMessage2(sender, message) {
            var responseDiv = document.createElement('div');
            responseDiv.classList.add('response');
            responseDiv.innerHTML = '<span>' + sender + ':</span> ' + message;
            chatMessagesDiv.appendChild(responseDiv);
        }

        
       
        
        

            
        
    </script>
</body>
</html>